
    <div class="jumbotron container-fluid card bg-dark text-light m-5">
        <div class="card-header bg-dark text-light">
            <h1>{{pageTitle}}</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 my-4 float-left">Filter by:
                    <input class="px-2 m-2" type='text' [(ngModel)]="listFilter"/>
                </div>
                <div class="col-md-6 my-4">Sort by:
                    <select class="px-2 m-2" name="sortingCriteria" [(ngModel)]="sortingCriteria">
                        <option value="GameName">Game name</option>
                        <option value="ReleaseDate">Release Date</option>
                        <option value="Rating">Rating</option>
                        <option value="Price">Price</option>
                        <option value="Popularity">Popularity</option>
                    </select>
                    <button (click)="Sort('ascending')" class="btn p-1 mx-1 btn-light text-dark">
                            <i class="fa fa-arrow-up"></i>
                    </button>
                    <button (click)="Sort('descending')" class="btn p-1 mx-1 btn-light text-dark">
                            <i class="fa fa-arrow-down"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 float-left">
                    <h4>Filtered by:    {{listFilter}}</h4>
                </div>
               
            </div>
            <div class="table-responsive">
                <table class="table text-light" *ngIf="games&&games.length" >
                    <thead>
                        <tr>
                            <th>
                                <button (click)="toggleImages()" class="btn btn-primary text-light">
                                    {{showingImages ?'Hide ':'Show '}}Image
                                </button>
                            </th>
                            <th><h4>Name</h4></th>
                            <th><h4>Release Date</h4></th>
                            <th><h4>Developer</h4></th>
                            <th><h4>Price</h4></th>
                            <th><h4>Popularity</h4></th>
                            <th><h4>Rating</h4></th>
                            <th><h4>Platforms</h4></th>
                        </tr>
                    </thead>
                    <tbody class="text-light">
                        <tr *ngFor="let game of getFilteredGames()">
                            <td><img *ngIf="showingImages" [src]="game.imageUrl" [style.width.px]="imageWidth"
                                [style.height.px]="imageHeight"></td>
                            <a [routerLink]="['/games',game.id]"><td>{{game.name}}</td></a>
                            <td>{{game.releaseDate}}</td>
                            <td>{{game.developer}}</td>
                            <td>{{game.price}}</td>
                            <td>{{game.popularity}}</td>
                            <td>{{game.rating}}</td>
                            <td>{{game.platforms}}</td>
                            <td><button style="width:100px;" (click)="buyGame(game.id)" class="btn btn-success text-light">
                                    Buy Game
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="m-5">
                <nav aria-label="...">
                        <ul class="pagination justify-content-end">
                                <li class="page-item ">
                                        <a class="page-link text-light bg-dark" href="#">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link text-light bg-dark" href="#">1</a></li>
                                <li class="page-item"><a class="page-link text-light bg-dark" href="#">2</a></li>
                                <li class="page-item"><a class="page-link text-light bg-dark" href="#">3</a></li>
                                <li class="page-item">
                                        <a class="page-link bg-dark text-light" href="#">Next</a>
                                </li>
                        </ul>
                </nav>
        </div>
    </div>
