<div class="row ">
        <div class="col-sm-7 m-5 float-left">
                <div class="jumbotron  py-2 my-2 bg-dark text-light main">
                        <h1 class="display-4">Game news</h1>
                        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, rem deserunt?
                                Iure, aut vitae iste neque voluptate error repudiandae enim, tempora, in inventore
                                nesciunt nemo fugit quidem aspernatur. Cumque vitae, eaque autem fugiat labore ullam.
                                Tempore tenetur officiis accusantium mollitia aperiam eius animi exercitationem.
                                Aspernatur, sunt ratione eius fuga aut et repudiandae tempora magni non sint odio!
                                Natus, quos officia.</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger
                                container.</p>

                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                                        </li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                        <div class="carousel-item active">
                                                <img class="d-block w-100"
                                                        src="https://ksassets.timeincuk.net/wp/uploads/sites/54/2019/05/thumb-1920-1004495-920x518.jpg"
                                                        alt="First slide">
                                                <div class="carousel-caption bg-dark d-none d-md-block">
                                                        <h5>Borderlands 3 on the way</h5>
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                                Doloremque autem sint temporibus eum itaque aliquid
                                                                assumenda porro iure qui dolorem!</p>
                                                </div>
                                        </div>
                                        <div class="carousel-item">
                                                <img class="d-block w-100"
                                                        src="https://img.itch.zone/aW1hZ2UvMTQxNDE5LzY0NzY1OS5qcGc=/original/8jUvlJ.jpg"
                                                        alt="Second slide">
                                                <div class="carousel-caption bg-dark d-none d-md-block">
                                                        <h5>New DLC on the way</h5>
                                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                                                Esse necessitatibus tempora illum maxime numquam, nisi
                                                                iure itaque accusamus! Ullam, error.</p>
                                                </div>
                                        </div>
                                        <div class="carousel-item">
                                                <img class="d-block w-100"
                                                        src="https://store-images.s-microsoft.com/image/apps.10859.70001270634121596.ec1c687a-d160-4f8d-90f1-c79a2b96c3f2.16646849-8b79-40c3-9597-57ab1bdc5800?mode=scale&q=90&h=1080&w=1920&format=jpg"
                                                        alt="Third slide">
                                                <div class="carousel-caption bg-dark d-none d-md-block">
                                                        <h5>Bioshock Infinite</h5>
                                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                                                Adipisci ipsam optio laudantium recusandae dolorem,
                                                                accusamus repudiandae fugit accusantium odio ex.</p>
                                                </div>
                                        </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                </a>
                        </div>
                        <div class="card bg-dark text-light text-center">
                                <div class="card-header">
                                        Featured
                                </div>
                                <div class="card-body">
                                        <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Perspiciatis, aliquid?</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Ab adipisci omnis sapiente possimus illum a, quaerat sequi perspiciatis
                                                impedit perferendis?</p>
                                        <a href="#" class="btn btn-primary">Check it out</a>
                                </div>
                                <div class="card-footer text-muted">
                                        2 days ago
                                </div>
                        </div>
                </div>
                <div class="detailBox col-sm-7 my-5 py-0 bg-secondary text-light float-left">
                                <div class="titleBox">
                                  <label>Comment Box</label>
                                    <button type="button" class="close" aria-hidden="true">&times;</button>
                                </div>
                                <div class="commentBox text-light">
                                    <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                                <div class="actionBox">
                                    <ul class="commentList bg-dark text-light">
                                        <li>
                                            <div class="commenterImage">
                                              <img src="http://placekitten.com/50/50" />
                                            </div>
                                            <div class="commentText">
                                                <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
                            
                                            </div>
                                        </li>
                                        <li>
                                            <div class="commenterImage">
                                              <img src="http://placekitten.com/45/45" />
                                            </div>
                                            <div class="commentText">
                                                <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>
                            
                                            </div>
                                        </li>
                                        <li>
                                            <div class="commenterImage">
                                              <img src="http://placekitten.com/40/40" />
                                            </div>
                                            <div class="commentText">
                                                <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
                            
                                            </div>
                                        </li>
                                    </ul>
                                    <form class="form-inline" role="form">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Your comments" />
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-default bg-dark text-light">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="bg-dark p-4 text-light col-sm-4 mt-5 float-right">
                                        <div class="media">
                                                        <div class="media-body">
                                                                        <img src="..." class="mr-3 float-left" alt="...">

                                                          <h5 class="mt-0 media-heading"><a href="#">Media heading</a></h5>
                                                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, consectetur!</p>
                                                          <div class="media mt-3">
                                                            <a class="mr-3" href="#">
                                                              <img src="..." class="ml-5 float-left" alt="...">
                                                            </a>
                                                            <div class="media-body">
                                                              <h5 class="mt-0 media-heading"><a href="#">Media heading</a></h5>
                                                             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, quibusdam? Excepturi iure debitis est distinctio!</p>
                                                            </div>
                                                          </div>
                                                          <div class="media mt-3">
                                                                        <a class="ml-5" href="#">
                                                                          <img src="..." class="mr-3" alt="...">
                                                                        </a>
                                                                        <div class="media-body">
                                                                          <h5 class="mt-0 media-heading"><a href="#">Media heading</a></h5>
                                                                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, quibusdam? Excepturi iure debitis est distinctio!</p>
                                                                        </div>
                                                                      </div>
                                                                      <br>
                                                                      <img src="..." class="mr-3 float-left" alt="...">
                                                                      <h5 class="mt-0 media-heading"><a href="#">Media heading</a></h5>
                                                                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, consectetur!</p>
                                                        </div>
                                                        
                                                      </div>
                            </div>
        </div>
        <div class="col-sm-4 mt-5 float-right">
                <div class="bg-secondary mb-3 text-light card col-sm-5 float-left" style="width: 18rem;">
                        <img src="https://i.ytimg.com/vi/MFwL2YOWE1s/maxresdefault.jpg" class="card-img-top p-2" alt="...">
                        <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                        bulk of the card's content.</p>
                        </div>
                        <ul class="list-group text-dark list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                                <a href="#" class="card-link text-light bg-primary p-2">Card link</a>
                        </div>
                </div>
                <div class="bg-secondary  mb-3 text-light card col-sm-5 float-right" style="width: 18rem;">
                        <img src="https://www.madheadgames.com/sites/default/files/images/news_01_28.jpg" class="card-img-top p-2" alt="...">
                        <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                        bulk of the card's content.</p>
                        </div>
                        <ul class="list-group text-dark list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                                <a href="#" class="card-link text-light bg-primary p-2">Card link</a>
                        </div>
                </div>
                <div class="bg-secondary  mb-3 text-light card col-sm-5 float-left" style="width: 18rem;">
                        <img src="https://cdn.images.dailystar.co.uk/dynamic/228/photos/387000/1384387.jpg?r=5c320dc9cc812" style="clear:both" class="card-img-top py-4" alt="...">
                        <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                        bulk of the card's content.</p>
                        </div>
                        <ul class="list-group text-dark list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                                <a href="#" class="card-link text-light bg-primary p-2">Card link</a>
                        </div>
                </div>
                <div class="bg-secondary  mb-3 text-light card col-sm-5 float-right" style="width: 18rem;">
                        <img src="https://www.gameslair.com/wp-content/uploads/2019/08/hollow.original-1024x573.jpg" class="card-img-top p-2" style="clear:both" alt="...">
                        <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                        bulk of the card's content.</p>
                        </div>
                        <ul class="list-group text-dark list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                                <a href="#" class="card-link text-light bg-primary p-2">Card link</a>
                        </div>
                </div>
                <div class="bg-secondary  mb-3 text-light card col-sm-5 float-left" style="width: 18rem;">
                        <img src="https://cdn.images.dailystar.co.uk/dynamic/184/photos/450000/620x/PS-Plus-Free-Games-Surprise-The-PS4-game-news-you-might-have-missed-with-PlayStation-Plus-796003.jpg?r=5d4813c8d58b0" class="card-img-top p-2" alt="...">
                        <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                        bulk of the card's content.</p>
                        </div>
                        <ul class="list-group text-dark list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                                <a href="#" class="card-link text-light bg-primary p-2">Card link</a>
                        </div>
                </div>
                <div class="bg-secondary  mb-3 text-light card col-sm-5 float-right" style="width: 18rem;">
                        <img src="https://gamespot1.cbsistatic.com/uploads/screen_kubrick/1578/15789366/3568596-3411747-best-xbox-one-exclusive-games--promo1-2-thumb.jpg" class="card-img-top p-2" alt="...">
                        <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                        bulk of the card's content.</p>
                        </div>
                        <ul class="list-group text-dark list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                                <a href="#" class="card-link text-light bg-primary p-2">Card link</a>
                        </div>
                </div>
        </div>
</div>
<div class="m-5">
        <nav aria-label="...">
                <ul class="pagination justify-content-end">
                        <li class="page-item ">
                                <a class="page-link text-light bg-dark" href="#">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link text-light bg-dark" href="#">1</a></li>
                        <li class="page-item"><a class="page-link text-light bg-dark" href="#">2</a></li>
                        <li class="page-item"><a class="page-link text-light bg-dark" href="#">3</a></li>
                        <li class="page-item">
                                <a class="page-link bg-dark text-light" href="#">Next</a>
                        </li>
                </ul>
        </nav>
</div>