<div class="jumbtron container bg-light text-dark my-5 p-0">
    <div class="container p-0 m-0 " style="width:100%">
        <div class="bg-dark my-3 py-3 text-light text-center">
            <h2>Your shopping cart:</h2>
            <h2 [hidden]="!retrievedUser||retrievedUser.purchasedGames">No games bought..</h2>

        </div>
    </div>
    <div class="row" *ngIf="retrievedUser&&retrievedUser.purchasedGames">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Description</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let game of retrievedUser.purchasedGames">
                            <td><img [src]="game.imageUrl" [style.width.px]="imageWidth"
                                    [style.height.px]="imageHeight" /> </td>
                            <td>{{game.name}}</td>
                            <td>{{game.description}}</td>
                            <td>In stock</td>
                            <td><input class="form-control" type="text" value="1" /></td>
                            <td class="text-right">{{game.price}}</td>
                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>
                                </button> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">255,90 €</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td class="text-right">6,90 €</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>346,90 €</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <button class="m-2 btn btn-block btn-dark text-light float-left">Continue Shopping</button>
        </div>
        <div class="col-md-6">
            <button class="m-2 btn btn-block btn-success text-uppercase float-right">Checkout</button>
        </div>
    </div>
</div>